<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> Hello Friends !! This site is created By Rahul Aggarwal, a pre final year student at DTU.Thankyou for visiting my page</p>
        <img class="logo" src="/images/logo.gif" alt="logo">
    </div>
    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>